{% extends "base.html" %}

{% block body %}

<hr>


<div class="container">
        <div class="row ">
            <div class="col shadow p-3 mb-5 bg-white rounded mt-4">
                <!-- department button -->
                <div class="d-flex justify-content-center">
                    <button data-toggle="modal" data-target="#addDepartment" class="btn btn-info btn-md">Add Department</button>
                </div>
                <br>



                <!-- department modal -->
                <div class="modal" id="addDepartment" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add Department</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/departments" method="post">
                                    <div class="form-group">
                                        <label for="name">Department Name</label>
                                        <input type="text" class="form-control" name="departmentname" placeholder="eg.Finance" required>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-sm">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-hover" class="table table-striped">
                    <thead class="thead bg-success">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Department</th>
                        </tr>
                    </thead>
                    <tbody>

                {#    Jinja cord for looping through the records as I display them   #}

                {% for each in mydepartments %}
                    <tr>
                        <td>{{ each.id }}</td>
                        <td>{{ each.name }}</td>

                    </tr>
                {% endfor %}

                  </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}
