{% extends 'base.html' %}

{% block body %}

<hr>

<div class="container">
        <div class="row">
            <div class="col shadow p-3 mb-5 bg-white rounded mt-4">
                <div class="d-flex justify-content-center">
                    <button data-toggle="modal" data-target="#addEmployee" class="btn btn-md btn-info">Add Employee</button>
                </div>

                <br>

                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Full name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone no</th>
                        <th scope="col">ID no</th>
                        <th scope="col">PIN</th>
                        <th scope="col">salary</th>
                        <th scope="col">Benefits</th>
                        <th scope="col">Department</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for each in myemployees %}
                        <tr>
                            <td>{{ each.id }}</td>
                            <td>{{ each.full_name }}</td>
                            <td>{{ each.gender }}</td>
                            <td>{{ each.email }}</td>
                            <td>{{ each.phone_number }}</td>
                            <td>{{ each.national_id }}</td>
                            <td>{{ each.kra_pin }}</td>
                            <td>{{ each.salary }}</td>
                            <td>{{ each.benefits }}</td>
                            <td>{{ each.department.name }}</td>
                            <td>
                                <button data-toggle="modal" data-target="#editEmployee" class="btn btn-md btn-success">Edit</button>
                                <div class="modal" id="editEmployee" tabindex="-5" role="dialog">
                                    <div class="modal-dialog modal-md"  role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Employee Registration</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- body -->

                                                <form action="/editEmployee/{{ each.id }}" method="post">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="fullName">Full Name</label>
                                                            <input name="fullName" type="text" class="form-control" id="fullName" value = "{{ each.full_name }}">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="department">Department</label>
                                                            <select name="department" id="department" class="form-control">
                                                                <option selected value="{{ each.department.id }}">{{ each.department.name }}</option>

                                                                {% for each in mydepartments %}
                                                                <option value="{{ each.id }}">{{ each.name }}</option>
                                                                {% endfor %}

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-3">
                                                            <label for="gender">Gender</label>
                                                            <select name="gender" id="gender" class="form-control">
                                                                <option selected>{{ each.gender }}</option>
                                                                <option>Male</option>
                                                                <option>Female</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-5">
                                                            <label for="email">Email</label>
                                                            <input name="email"  type="email" class="form-control" id="email" value="{{ each.email }}">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="phoneNumber">Phone Number</label>
                                                            <input name="phoneNumber" type="number" class="form-control" id="phoneNumber" value="{{ each.phone_number  }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="idNumber">ID No</label>
                                                            <input name="idNumber" type="number" class="form-control" id="idNumber" value="{{ each.national_id }}">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="KRApin">KRA Pin</label>
                                                            <input name="KRApin"  type="text" class="form-control" id="KRApin" value="{{ each.kra_pin }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="salary">Salary</label>
                                                            <input  name="salary"   type="number" class="form-control" id="salary" value="{{ each.salary }}">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="benefits">Total Benefits</label>
                                                            <input name="benefits"  type="number" class="form-control" id="benefits" value="{{ each.benefits }}">
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Modify</button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <form action="/deleteEmployee/{{ each.id }}" method="post">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-warning btn-sm">delete</button>
                                    </div>
                                </form>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>

                    <!-- add employee modal -->
                    <div class="modal" id="addEmployee" tabindex="-5" role="dialog">
                        <div class="modal-dialog modal-md"  role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Employee Registration</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- body -->

                                    <form action="/employees" method="post">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="fullName">Full Name</label>
                                                <input name="fullName" type="text" class="form-control" id="fullName" placeholder="Linus Brian Okoth">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="department">Department</label>
                                                <select name="department" id="department" class="form-control">
                                                    <option selected>Choose Department</option>

                                                    {% for each in mydepartments %}
                                                    <option value="{{ each.id }}">{{ each.name }}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="gender">Gender</label>
                                                <select name="gender" id="gender" class="form-control">
                                                    <option selected>Choose Gender</option>
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-5">
                                                <label for="email">Email</label>
                                                <input name="email"  type="email" class="form-control" id="email" placeholder="brianlinus1753@gmail.com">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="phoneNumber">Phone Number</label>
                                                <input name="phoneNumber" type="number" class="form-control" id="phoneNumber" placeholder="0798156862">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="idNumber">ID No</label>
                                                <input name="idNumber" type="number" class="form-control" id="idNumber" placeholder="35380990">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="KRApin">KRA Pin</label>
                                                <input name="KRApin"  type="text" class="form-control" id="KRApin" placeholder="AW35380990d53JY">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="salary">Salary</label>
                                                <input  name="salary"   type="number" class="form-control" id="salary" placeholder="Salary in KSH">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="benefits">Total Benefits</label>
                                                <input name="benefits"  type="number" class="form-control" id="benefits" placeholder="Benefits in KSH">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Register</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- delete -->

                </table>
            </div>
        </div>
    </div>

{% endblock %}
