{% extends "base.html" %}

{% block body %}

<hr>

<div class="container">
        <div class="row">
            <div class="col shadow p-3 mb-5 bg-white rounded mt-4">
                <div class="d-flex justify-content-center">
                    <button data-toggle="modal" data-target="#addEmployee" class="btn btn-md btn-info">Add Employee</button>
                </div>

                <br>

                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Full name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone no</th>
                        <th scope="col">ID no</th>
                        <th scope="col">PIN</th>
                        <th scope="col">salary</th>
                        <th scope="col">Benefits</th>
                        <th scope="col">Department</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Linus Brian Okoth</td>
                            <td>Male</td>
                            <td>LinusOkoth2023@u.northwestern.edu</td>
                            <td>0798156862</td>
                            <td>35380990</td>
                            <td>AO23546448ZX</td>
                            <td>23000</td>
                            <td>2000</td>
                            <td>Finance</td>
                            <td><button type="button" class="btn btn-warning">Edit</button></td>
                            <td><button type="button" class="btn btn-primary">Edit</button></td>

                        </tr>

                    </tbody>

                    <!-- add employee modal -->
                    <div class="modal" id="addEmployee" tabindex="-5" role="dialog">
                        <div class="modal-dialog modal-md"  role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Employee Registration</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- body -->

                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="fullName">Full Name</label>
                                                <input type="text" class="form-control" id="fullName" placeholder="Linus Brian Okoth">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="department">Department</label>
                                                <select id="department" class="form-control">
                                                    <option selected>Choose Department</option>
                                                    <option>Finance</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="gender">Gender</label>
                                                <select id="gender" class="form-control">
                                                    <option selected>Choose Gender</option>
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-5">
                                                <label for="emailAdrress">Email</label>
                                                <input type="email" class="form-control" id="emailAdrress" placeholder="brianlinus1753@gmail.com">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="phoneNumber">Phone Number</label>
                                                <input type="number" class="form-control" id="phoneNumber" placeholder="0798156862">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="idNumber">ID No</label>
                                                <input type="number" class="form-control" id="idNumber" placeholder="35380990">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="KRApin">KRA Pin</label>
                                                <input type="text" class="form-control" id="KRApin" placeholder="AW35380990d53JY">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="salary">Salary</label>
                                                <input type="number" class="form-control" id="salary" placeholder="Salary in KSH">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="benefits">Total Benefits</label>
                                                <input type="number" class="form-control" id="benefits" placeholder="Benefits in KSH">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Register</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- delete -->

                </table>
            </div>
        </div>
    </div>

{% endblock %}
